html, body, * {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.wrap {
    padding-top: 100px;
}

.form-wrap {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.select-currency, .select-filial {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid tomato;
}

.select-currency select, .select-filial select {
    margin: 10px 0;
}

.select-currency button, .select-filial button {
    width: 40%;
    border-radius: 6px;
    padding: 5px;
}

.currency-list, .filial-list {
    width: 700px;
    padding: 20px;
    border: 1px solid tomato;
    border-radius: 10px;
    margin: 30px auto 0 auto;
}

.currency-list p, .filial-list p {
    margin-bottom: 15px;
}

.select-filial select{
    width: 50%;
}

#accordion {
    width: 60%;
    margin: 100px auto;
    border: 1px solid #000;
}

#accordion h3 {
    background: #518cbb;
    padding: 5px;
    color: #fff;
    border: 1px solid #000;
}

#accordion h3:hover {
    cursor: pointer;
}

#accordion div {
    padding: 5px;
    background: #b5dce9;
}